# =========================
# Environment variables
# =========================
.env
!.env.example

# =========================
# Python Virtual Environment
# =========================
venv/
.venv/

# =========================
# Python Cache
# =========================
__pycache__/
*.py[cod]
*.pyo

# =========================
# Database
# =========================
*.db
factory.db

# =========================
# Streamlit
# =========================
.streamlit/secrets.toml

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Reports
# =========================
reports/*.pdf

# =========================
# Temporary Files
# =========================
*.tmp
temp/

# =========================
# Operating System
# =========================
.DS_Store
Thumbs.db

# =========================
# Git
# =========================
.git/